<div class="space-y-6">
  <form [formGroup]="authForm" (ngSubmit)="submit()" class="space-y-5">
    <div class="grid grid-cols-2 gap-4">
      <lib-text-input
        label="First name"
        placeholder="First name"
        formControlName="firstName"
      ></lib-text-input>

      <lib-text-input
        label="Last name"
        placeholder="Last name"
        formControlName="lastName"
      ></lib-text-input>
    </div>

    <lib-text-input
      label="Email"
      placeholder="Email"
      type="email"
      formControlName="email"
    ></lib-text-input>

    <lib-phone-input label="Phone" formControlName="phone"></lib-phone-input>

    <div class="relative">
      <lib-select-input
        label="Gender"
        formControlName="gender"
        [options]="[
          { label: 'Male', value: 'male' },
          { label: 'Female', value: 'female' }
        ]"
      ></lib-select-input>
    </div>

    <lib-text-input
      label="Password"
      type="password"
      placeholder="Password"
      formControlName="password"
    ></lib-text-input>

    <lib-text-input
      label="Confirm Password"
      placeholder="Confirm Password"
      type="password"
      formControlName="rePassword"
    ></lib-text-input>




    <div class="mt-4">
      <ui-button
        type="submit"
        [block]="true"
        [disabled]="authForm.invalid"
        class="w-full block mt-3"
      >
        Create Account
      </ui-button>
    </div>
  </form>
</div>
