<div class="grid grid-cols-12 gap-4 py-5">
  <div
    class="col-span-12 lg:col-span-2 relative aspect-square lg:aspect-auto lg:h-40 w-full overflow-hidden"
  >
    <img
      [ngSrc]="cartItem().product.imgCover"
      [alt]="cartItem().product.title"
      fill
      [priority]="isFirst()"
      class="rounded-xl object-cover ring-1 ring-zinc-200 dark:ring-zinc-800"
    />
  </div>

  <div class="col-span-9 lg:col-span-7 flex flex-col justify-between py-1">
    <div>
      <h3
        class="font-bold text-lg text-maroon-700 dark:text-maroon-400 transition-colors"
      >
        {{ cartItem().product.title }}
      </h3>

      <div class="flex items-center gap-1 mt-1">
        <lucide-icon
          name="star"
          class="text-orange-400 fill-amber-500 w-4 h-4"
        ></lucide-icon>
        <span class="text-zinc-600 dark:text-zinc-400">
          Rating:
          <span class="font-medium text-zinc-800 dark:text-zinc-200">
            {{ cartItem().product.rateAvg }}/5
          </span>
        </span>
        <span class="text-blue-600 dark:text-blue-400 font-medium">
          ({{ cartItem().product.rateCount }} ratings)
        </span>
      </div>
    </div>

    <div class="flex items-baseline gap-1 mt-4">
      <span class="text-xs text-maroon-600 dark:text-maroon-500 font-bold">
        (x{{ cartItem().quantity }})
      </span>
      <span
        class="text-2xl font-bold text-zinc-800 dark:text-zinc-100 transition-colors"
      >
        {{ cartItem().price }}
      </span>
      <span class="text-sm font-bold text-zinc-600 dark:text-zinc-400 uppercase"
        >EGP</span
      >
    </div>
  </div>

  <div class="col-span-3 lg:col-span-3 flex flex-col justify-between items-end">
    <lib-button
      (click)="removeProduct(cartItem().product._id)"
      [icon]="'trash-2'"
      [block]="true"
      [variant]="'destructive'"
    >
      Remove
    </lib-button>

    <div class="flex items-center gap-3">
      <lib-button
        [disabled]="cartItem().quantity <= 1"
        (click)="
          cartItem().quantity > 1 &&
            updateProductQuantity(
              cartItem().product._id,
              cartItem().quantity - 1
            )
        "
        [icon]="'minus'"
        [variant]="'secondary'"
      ></lib-button>

      <h5
        class="border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-200 py-2 px-4 w-32 rounded-lg text-start transition-all"
      >
        {{ cartItem().quantity }}
      </h5>

      <lib-button
        [disabled]="cartItem().quantity === cartItem().product.quantity"
        (click)="
          updateProductQuantity(cartItem().product._id, cartItem().quantity + 1)
        "
        [icon]="'plus'"
        [variant]="'secondary'"
      ></lib-button>
    </div>
  </div>
</div>
