::ng-deep .p-carousel-content {
  position: relative !important;
}

::ng-deep .p-carousel-prev,
::ng-deep .p-carousel-next {
  background-color: var(--color-white) !important;
  color: var(--color-zinc-600) !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border: 1px solid var(--color-zinc-200) !important;
  transition-property: color, background-color, border-color, shadow !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
  z-index: 10 !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

::ng-deep .dark .p-carousel-prev,
::ng-deep .dark .p-carousel-next {
  background-color: var(--color-zinc-800) !important;
  color: var(--color-zinc-300) !important;
  border: 1px solid var(--color-zinc-700) !important;
}

::ng-deep .p-carousel-prev {
  left: -20px !important;
}

::ng-deep .p-carousel-next {
  right: -20px !important;
}

::ng-deep .p-carousel-prev:hover,
::ng-deep .p-carousel-next:hover {
  background-color: var(--color-zinc-50) !important;
  color: var(--color-zinc-900) !important;
}

::ng-deep .dark .p-carousel-prev:hover,
::ng-deep .dark .p-carousel-next:hover {
  background-color: var(--color-zinc-700) !important;
  color: var(--color-white) !important;
}
